{% if netdata_python_web_log_params is mapping %}{{ netdata_python_web_log_params.name | replace(".", "_") }}:
  name: '{{ netdata_python_web_log_params.name }}'
  path: '{{ netdata_python_web_log_params.path }}'
  histogram: [{{ netdata_python_web_log_params.histogram }}]
  retries: {{ plugin_retries }}
  autodetection_retry: {{ plugin_autodetection_retry }}
  custom_log_format:
    pattern: '{{ netdata_python_web_log_params.pattern }}'
  categories:
{% for category in netdata_python_web_log_categories %}
    {{ category.key }}: '{{ category.value }}'
{% endfor %}{% endif %}{% if netdata_python_web_log_params is iterable and netdata_python_web_log_params is not mapping %}{% for log_file in netdata_python_web_log_params %}{{ log_file.name | replace(".", "_") }}:
  name: '{{ log_file.name }}'
  path: '{{ log_file.path }}'
  histogram: [{{ log_file.histogram | default('50,100,200,500,1000,2000,5000') }}]
  retries: {{ plugin_retries }}
  autodetection_retry: {{ plugin_autodetection_retry }}
  custom_log_format:
    pattern: '{{ log_file.pattern | default('(?P<address>[\da-f.:]+).*(?P<date>\[.+\])\s(?P<code>[1-9]\d{2})\s\".*\"\s\"(?P<method>[A-Z]+)\s(?P<url>.*?)\s.+\"\s(?P<bytes_sent>\d+)\s(?P<resp_time>\d+\.\d+)') }}'
  categories:
{% for category in log_file.categories | default(netdata_python_web_log_categories) %}
    {{ category.key }}: '{{ category.value }}'
{% endfor %}{% endfor %}{% endif %}
