autodetection_retry: {{netdata_prometheus_params.autodetection_retry}}
max_time_series: {{netdata_prometheus_params.max_time_series}}
priority: {{netdata_prometheus_params.priority}}
update_every: {{netdata_prometheus_params.update_every}}

jobs:
{% if netdata_prometheus_jobs is not defined %}
{% if 'node_exporter' in service_list %}
  - name: node_exporter_local
    url: 'http://127.0.0.1:9100/metrics'
{% endif %}{% if 'redis_exporter' in service_list %}
  - name: redis_exporter_local
    url: 'http://127.0.0.1:9121/metrics'
{% endif %}{% if 'dnsmasq_exporter' in service_list %}
  - name: dnsmasq_exporter_local
    url: 'http://127.0.0.1:9153/metrics'
{% endif %}{% if 'script_exporter' in service_list %}
  - name: script_exporter_local
    url: 'http://127.0.0.1:9172/metrics'
    update_every: 60
{% endif %}{% if 'mongodb_exporter' in service_list %}
  - name: mongodb_exporter_local
    url: 'http://127.0.0.1:9216/metrics'
{% endif %}{% if 'sql_exporter' in service_list %}
  - name: sql_exporter_local
    url: 'http://127.0.0.1:9237/metrics'
    update_every: 60
{% endif %}{% if 'sphinx_exporter' in service_list %}
  - name: sphinx_exporter_local
    url: 'http://127.0.0.1:9247/metrics'
{% endif %}{% if 'rabbitmq_exporter' in service_list %}
  - name: rabbitmq_exporter_local
    url: 'http://127.0.0.1:9419/metrics'
{% endif %}{% if 'mongodb_query_exporter' in service_list %}
  - name: mongodb_query_exporter_local
    url: 'http://127.0.0.1:9736/metrics'
    update_every: 60
{% endif %}{% if 'nginx-vts-exporter' in service_list %}
  - name: nginx_vts_exporter_local
    url: 'http://127.0.0.1:9913/metrics'
{% endif %}{% if 'proxysql_exporter' in service_list %}
  - name: proxysql_exporter_local
    url: 'http://127.0.0.1:42004/metrics'
{% endif %}
{% else %}{% for job in netdata_prometheus_jobs %}
  - name: {{ job.name }}
{% for key, value in job | dictsort %}
{% if key != 'name' %}
    {{key}}: {{value}}
{% endif %}{% endfor %}{% endfor %}{% endif %}
